.main {
  width: 85%;
  max-height: 1000000%;
  margin: 0 auto;
  display: flex;

  &__leftbar {
    margin-left: 100px;
    width: 25%;
    height: 1000px;
  }

  &__content {
    width: 90%;
    max-height: 10000px;
    margin-left: 2%;
    display: flex;
    flex-wrap: wrap;
  }
}