@import '../../color-const';

.main {
  width: 100%;
  height: 50px;
  display: flex;

  justify-content: center;
  background-color: $header_navbar;

  &__row_elements {
    height: 100%;
    width: 75%;
    background-color: $header_navbar;
    display: flex;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 8px;


      a {
        color: $white !important;
        font-size: 1rem;
        text-transform: uppercase;
      }
      li {
        height: calc(100% - 5px);
        display: flex;
        align-items: center ;
        margin-left: 15px;
        margin-top: 20px;
        padding-left: 7px;
        padding-right: 7px;
        list-style: none;
        padding-bottom: 10px;


        &:hover {
          border-bottom: thick solid #db3939;
          cursor: pointer;
        }
      }
    }
  }
}

.act{
  li{
    border-bottom: thick solid #db3939;

  }
}
