.main {
  width: 100%;

  max-height: 300px;
  border: 1px solid silver;
  border-top: none;
  margin-top: 30px;

  &__double {
    display: flex;
    justify-content: space-between;
    //border: 1px solid silver;

    div{
      border: 1px solid silver;
      width: 50%;
      height: 100%;
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.resp {
  padding: 10px;
  font-size: 14px;
}

.stars {
  padding-left: 10px;
}

.answer {
  padding: 10px;
}
